
<div class="text-center mt-3">
    <div class="encabezado">
        <h1>Bienvenido</h1>
        <h2>Inicia Sesión</h2>
    </div>

    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required ngModel />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required ngModel />
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="loading">
            {{ loading ? 'Cargando...' : 'Enviar' }}
        </button>
    </form>
</div>

<div class="text-center mt-3">
    <img src="assets/imagenes/prueba2.webp" alt="Prueba" height="42%" width="42%" />
</div>