
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/SnowWhite.webp" class="card-img-top" alt="Snow White">
                    <div class="card-body">
                        <h4>Familia, Fantasia.</h4>
                        <p class="card-text">Perseguida por la Reina Malvada, Blancanieves encuentra refugio en el bosque junto a siete enanos y el ladrón Jonathan.
                        Juntos, enfrentarán la amenaza real mientras luchan por recuperar el reino que le pertenece.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/Mickey17.webp" class="card-img-top" alt="Mickey 17 ">
                    <div class="card-body">
                        <h4>Ciencia Ficción, Comedia, Aventura.</h4>
                        <p class="card-text">En el peor trabajo de la historia, Mickey Barnes aprende la letra pequeña: "cláusula de mortalidad incluida". Ahora,
                        entre resurrecciones incómodas y juntas post-mortem, deberá ascender en esta empresa donde el rendimiento se mide en
                        muertes... ¡y las renuncias están prohibidas!</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/CapitánAmérica.webp" class="card-img-top"
                        alt="Capitán América: Un Nuevo Mundo Valiente">
                    <div class="card-body">
                        <h4>Acción, Ciencia Fición.</h4>
                        <p class="card-text">Tras reunirse con el recién electo presidente de los EE. UU., Thaddeus
                            Ross,
                            Sam Wilson se ve envuelto en un incidente
                            internacional. Deberá descubrir la razón detrás de una maquinación global antes de que el
                            verdadero cerebro tras el plan
                            logre que el mundo entero se vuelva rojo de ira.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/Moana2.webp" class="card-img-top" alt="Moana 2">
                    <div class="card-body">
                        <h4>Animación, Aventura, Familia, Comedia.</h4>
                        <p class="card-text">Tras recibir una misteriosa llamada de sus ancestros navegantes, Moana se
                            embarca junto a Maui y una nueva tripulación
                            hacia los mares lejanos de Oceanía, adentrándose en aguas peligrosas y olvidadas para vivir
                            una
                            aventura como ninguna
                            otra.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/Flow.webp" class="card-img-top" alt="Flow">
                    <div class="card-body">
                        <h4>Animación, Fantasia, Aventura</h4>
                        <p class="card-text">Un gato solitario, desplazado por una gran inundación, encuentra refugio en
                            un
                            barco junto a diversas especies. Juntos,
                            deberán enfrentar los desafíos de adaptarse a un mundo transformado, aprendiendo a
                            sobrevivir y
                            tal vez a convivir en
                            medio de la incertidumbre.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/Deadpool&Wolverine.webp" class="card-img-top" alt="Deadpool & Wolverine">
                    <div class="card-body">
                        <h4>Acción, Comedia, Ciencia Ficción.</h4>
                        <p class="card-text">Deadpool, retirado de su vida como mercenario, se ve forzado a regresar cuando una amenaza apocalíptica emerge. Sin
                        opciones y con el destino del mundo en juego, arrastrará a un reacio Wolverine a una misión que ninguno de los dos
                        quiere pero que solo ellos pueden resolver.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/Gladiadorll.webp" class="card-img-top" alt="Gladiador II">
                    <div class="card-body">
                        <h4>Acción, Aventura, Drama.</h4>
                        <p class="card-text">Lucio, testigo de la caída del héroe Máximo, es forzado a combatir en el Coliseo cuando su hogar es esclavizado por los
                        nuevos tiranos de Roma. Con la memoria de Máximo como guía, deberá encontrar el valor para desafiar al imperio y
                        restaurar su honor perdido.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

