<footer class="bg-dark text-white text-center py-3 mt-4">
    <div class="container">
        <p class="mb-1">&copy; 2025 Stream Service. Todos los derechos reservados.</p>
        <p class="mb-0">
            <ng-container *ngIf="footerLinks$ | async as links">
                <ng-container *ngFor="let link of links; let last = last">
                    <a [href]="link.url" class="text-white">{{ link.text }}</a><span *ngIf="!last"> | </span>
                </ng-container>
            </ng-container>
        </p>
    </div>
</footer>