<div class="container">
    <h2 class="text-center mt-3">Basados en tus preferencias...</h2>

    @if (loading) {
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    } @else {
    <div class="row">
        @for (card of favorites; track card.id) {
        <div class="col-md-4 mb-4">
            <div class="card" [class.fade-out]="card.isDeleting">
                <img [src]="card.image" [alt]="card.title" class="card-img-top">
                <div class="card-body">
                    <h4>{{card.genres}}</h4>
                    <p class="card-text">
                        {{ card.showFullText ? card.fullDescription : card.shortDescription }}
                    </p>
                    <button class="btn btn-primary" (click)="card.showFullText = !card.showFullText">
                        {{ card.showFullText ? 'Menos' : 'Más' }}
                    </button>
                    <button class="btn btn-danger" (click)="deleteCard(card.id)">Eliminar</button>
                </div>
            </div>
        </div>
        }
    </div>
    }
</div>

