
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/SoloLeveling.webp" class="card-img-top" alt="SoloLeveling">
                    <div class="card-body">
                        <h4>Animación, Acción, Aventura, Ciencia Fición, Fantasia.</h4>
                        <p class="card-text">Tras ser brutalmente masacrado en una mazmorra, Sung Jinwoo, el cazador más débil, despierta con el Sistema, un poder
                        único que lo fortalece progresivamente. Ahora, debe descubrir los secretos detrás de esta habilidad y la mazmorra que lo
                        cambió para siempre.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/INVINCIBLE.webp" class="card-img-top" alt="Invencible">
                    <div class="card-body">
                        <h4>Animación, Ciencia Ficción, Fantasia, Acción, Aventura, Drama.</h4>
                        <p class="card-text">Mark Grayson, un adolescente aparentemente normal, descubre que heredó los poderes de su padre, Omni-Man, el héroe más
                        poderoso del planeta. Pero su entrenamiento se convierte en una crisis existencial cuando un oscuro legado familiar lo
                        fuerza a cuestionar todo: desde su identidad hasta la verdadera naturaleza del heroísmo.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/Chihayafuru.webp" class="card-img-top" alt="Chihayafuru">
                    <div class="card-body">
                        <h4>Animación, Drama.</h4>
                        <p class="card-text">Chihaya Ayase descubre su pasión por el karuta gracias a Arata, abandonando su vida como soporte de su hermana. Años
                        después, ya en preparatoria, entrena incansablemente con un doble objetivo: reunir a sus amigos de la infancia y
                        conquistar juntos el torneo Hyakunin Isshu.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/Natsume'sBookofFriends.webp" class="card-img-top"
                        alt="Natsume's Book of Friends">
                    <div class="card-body">
                        <h4>Animación, Comedia.</h4>
                        <p class="card-text">Natsume Takashi, un joven capaz de ver espíritus, hereda el "Libro de los Amigos" de su abuela, descubriendo por qué los
                        yokai lo persiguen. Al devolver los nombres robados, busca reconciliar ambos mundos y encontrar, por fin, su verdadero
                        lugar.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/TheWalkingDead.webp" class="card-img-top" alt="The Walking Dead">
                    <div class="card-body">
                        <h4>Acción, Aventura, Drama, Fantasia, Ciencia Ficción.</h4>
                        <p class="card-text">Rick Grimes despierta en un mundo apocalíptico dominado por zombis. Guiado por su instinto policial, inicia una búsqueda
                        desesperada de su familia, enfrentándose tanto a los no-muertos como a supervivientes aún más peligrosos en esta nueva
                        realidad sin ley.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/GameofThrones.webp" class="card-img-top" alt="Game of Thrones">
                    <div class="card-body">
                        <h4>Ciencia Ficción, Fantasia, Drama, Acción, Aventura</h4>
                        <p class="card-text">Siete casas nobles libran una guerra sangrienta por el Trono de Hierro en Poniente, ignorando la verdadera amenaza: un
                        ejército de criaturas de hielo que avanza desde el norte. Solo la Guardia de la Noche, una hermandad de marginados, se
                        interpone entre el reino y la oscuridad eterna.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container p-3">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/RickYMorty.webp" class="card-img-top" alt="Rick y Morty ">
                    <div class="card-body">
                        <h4>Animación, Comedia, Acción, Aventura, Fantasia, Ciencia Ficción.</h4>
                        <p class="card-text">Rick, un científico brillante pero inestable, regresa después de años y arrastra a su nieto Morty a viajes
                        interdimensionales llenos de caos. Mientras exploran el multiverso, las aventuras desgastan la ya frágil vida familiar y
                        escolar de Morty, dejándolo atrapado entre la emoción del cosmos y los problemas terrenales.</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="assets/imagenes/BillyYMandy.webp" class="card-img-top"
                        alt="Las sombrías aventuras de Billy y Mandy">
                    <div class="card-body">
                        <h4>Animación, Comedia.</h4>
                        <p class="card-text">Billy y Mandy, dos niños implacables, ganan una apuesta diabólica y condenan a la Muerte a ser su amigo eterno. Ahora,
                        el Poderoso Segador atrapado en el aburrido Endsville sobrevive a sus absurdas travesuras mientras lucha por conservar
                        lo último que le queda: su (anti)dignidad sobrenatural..</p>
                        <button class="btn btn-primary btn-more">Menos</button>
                        <button class="btn btn-danger btn-delete">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

